@model ConferenceTracker.Model.Session

@{
    ViewData["Title"] = "Details";
}

<h1><small>@Model.Title</small> </h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd class="col-sm-10">
            <p class="card-text">
                @for (var i = 0; i < Model.Speakers.Count; i++)
                {
                    var speaker = Model.Speakers[i];
                    <a asp-controller="Speakers" asp-action="Details" asp-route-id="@speaker.Id" class="btn btn-link btn-sm">@speaker.FirstName @speaker.LastName</a>
                    if (i != Model.Speakers.Count - 1)
                    { <span>|</span>}
                }
            </p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendees)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Company
                        </th>
                        <th>
                            FirstName
                        </th>
                        <th>
                            LastName
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attendees)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Notify" asp-route-id="@Model.Id">Send Start Notification</a> |
    <a asp-action="Index">Back to List</a>
</div>
